[submodule "proGEN_Iter/ThirdParty/spdlog"]
	path = proGEN_Iter/ThirdParty/spdlog
	url = https://github.com/Saltylanguage/spdlog
[submodule "ProGEN_Iter/ThirdParty/GLFW"]
	path = ProGEN_Iter/ThirdParty/GLFW
	url = https://github.com/TheCherno/GLFW
